.cv-viewer {
    --color-header: #209fb5;
    --color-sidebar: #1e66f5;

    box-sizing: border-box;
    width: 210mm;
    height: 297mm;
    box-shadow: 1px 1px 4px black;

    flex: 0 0 auto;

    display: grid;
    grid-template-columns: [header-start sidebar-start] 18rem [sidebar-end content-start] 1fr [header-end content-end];
    grid-template-rows: [header-start sidebar-start] 10rem [header-end content-start] 1fr [sidebar-end content-end];
}

.separator {
    border: 1px solid var(--color-base);
    margin: 2rem 0;
}

/* ------ */
/* Header */
/* ------ */

.header {
    background: var(--color-header);
    grid-area: header-start / header-start / header-end / header-end;
    z-index: 1;
    align-self: end;
    padding: 1rem 2rem;
}

.header h1,
.header p {
    text-align: right;
    margin: 0;
}

/* ------- */
/* Sidebar */
/* ------- */

.sidebar {
    background: var(--color-sidebar);
    grid-area: sidebar-start / sidebar-start / sidebar-end / sidebar-end;

    padding-top: 12rem;
    padding-inline: 1.5rem;
    color: var(--color-base);
}

/* General section */

.general ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.general li {
    display: flex;
    gap: 0.6rem;
    align-items: center;
}

/* Skillset sections */

.skills ul,
.languages ul {
    margin: 0;
    padding: 0;
}

.skills li,
.languages li {
    margin-left: 1rem;
}

.skills p,
.languages p {
    margin-bottom: 0.5rem;
}

.rating-bar {
    height: 0.5rem;
    width: 100%;
    display: flex;
    border: 1px solid var(--color-base);
}

.rating-bar > .rating-block {
    height: 100%;
    width: 20%;
}

.rating-bar > .rating-block:not(:first-child) {
    border-left: 1px solid var(--color-base);
}

.rating-block.set {
    background: var(--color-base);
}

.rating-bar > .rating-block.set:not(:first-child) {
    border-left: 1px solid var(--color-sidebar);
}

/* ------- */
/* Content */
/* ------- */

.content {
    padding: 0 2rem;
}

.content h2,
.content p {
    margin: 0;
}

.content section {
    margin-block: 2rem;
}

/* About section */

.about p {
    margin-top: 0.5rem;
}

/* Education section */

.school-info {
    margin-block: 1rem;
}

.school-info .header {
    background: white;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.school-info h3,
.school-info p {
    margin: 0;
    padding: 0;
}

.school-info h3 {
    font-weight: 500;
    font-size: 1.05rem;
}

.school-info p {
    font-size: 0.9rem;
}

.school-info .school-subject {
    padding-left: 1rem;
}
